body {
    max-width: 75em !important;
    margin:0 auto !important;
}

.ItemBtnIcon {
    font-size: 1.8em;
    color: #519df8;
}

.wideBtn {
    width: 4em;
}

/* primary - STRONG BLUE - Buttons */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    color: white;
    background-color: #519df8 !important;
    /*width: 5em;*/
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: white !important;
}

.btn-outline-primary:hover {
    color: darkslateblue;
}

/* dark - LIGHT BLUE */

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    color: white;
    border-color: #70aaef;
    background-color: #70aaef !important;
    width: 9em;
}

.btn-outline-dark, .btn-outline-dark:active, .btn-outline-dark:visited, .btn-outline-dark:focus{
    color: #246bf4;
    border-color: #70aaef;
    background-color: white !important;
    width: 9em;

   /*outline: red !important;*/
   /*box-shadow: red !important;*/
}

.btn-outline-dark:hover {
    color: #1552c3;
    border-color: #70aaef;
}

/* secondary - LIGHT GREEN */

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    color: white;
    border-color: #1b8253;
    background-color: #3ba06e !important;
    width: 9em;
}

.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary:visited {
    color: #1b8253;
    border-color: #1b8253;
    background-color: white !important;
    width: 9em;
}

.btn-outline-secondary:hover {
    color: #135b3b;
    border-color: #1b8253;
}

/* --- */

.errorlist {
    margin: 0 0 0.4em 0;
    color: red;
}

.ErrField {
    background-color: red !important;
}

.EnBtn {
    color: gold !important;
}

.DragColor {
    background: lightgreen;
}

#id_color {
    height: 2.4em;
}

