body {
    max-width: 75em !important;
    margin:0 auto !important;
}

.List-Check {
    font-size: 1.1em;
}

.List-Enter {
    font-size: 1.8em;
    color: silver;
}

.ListFolderIcon {
    font-size: 1.8em;
    color: gold;
}

.ListElementIcon {
    font-size: 1.8em;
    color: skyblue;
}

.ListBtnIcon {
    font-size: 1.8em;
    color: #519df8;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #519df8 !important;
    width: 2.5em;
}

.btn-outline-primary:hover {
    color: darkslateblue;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: white !important;
}

.EnBtn {
    color: gold !important;
}

.DragColor {
    background: lightgreen;
}