body {
    max-width: 110em !important;
    margin:0 auto !important;
}

/* Цветная плашка */

.M_CBox {
    position: absolute;
    left: 0em;
    bottom: 0em;
    width: 1em;
    height: 100%;
}

.D_CBox {
    width: 4em;
    height: 3.7em;
}

/* Сумма */

.M_Sum {
    text-align: start;
    /*background: orange;*/
    font-size: 1.2em;
    font-weight: bold;
    color: #8a2128;
    position: absolute;
    left: 1.4em;
    top: 0.2em;
}

.D_Sum {
    text-align: end;
    /*background: orange;*/
    font-size: 1.1em;
    font-weight: bold;
    color: #8a2128;
}

.SumIncome {
    color: #116223 !important;
}

.SumOutcome {
    color: #8a2128 !important;
}

/* Дата */

.M_Date {
    text-align: start;
    /*background: orange;*/
    font-size: 0.85em;
    color: darkgray;
    position: absolute;
    left: 2em;
    top: 2.4em;
}

.D_Date {
    text-align: center;
    /*background: orange;*/
    font-size: 0.85em;
    color: darkgray;
}

/* Автор */

.M_User {
    color: #75dfff;
}

.D_User {
    text-align: center;
    /*background: orange;*/
    font-size: 0.85em;
    color: #75dfff;
}

/* Примечание */

.M_Notes {
    text-align: start;
    /*background: orange;*/
    font-size: 0.85em;
    font-style: italic;
    color: #595959;
    position: absolute;
    left: 3.2em;
    top: 4.4em;
    line-height: 1.1em;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.D_Notes {
    text-align: start;
    /*background: orange;*/
    font-size: 0.85em;
    /*font-style: italic;*/
    color: #595959;
    line-height: 1.1em;
    max-height: 3.3em;
    /*width: 85%;*/
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Иконка фото */

.M_Photo {
    text-align: start;
    /*background: orange;*/
    font-size: 0.85em;
    color: lightgray;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    position: absolute;
    left: 0.6em;
    top: 3.6em;
}

.D_Photo {
    text-align: center;
    /*background: orange;*/
    color: dimgray;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    padding-top: 1.3em;
}

/* Меню действий  */

.M_ActMenu {
    text-align: center;
    /*background: orange;*/
    font-size: 1em;
    font-weight: bold;
    color: #dde9f3;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0%);
    top: -0.2em;
}

/* Статья расходов */

.M_CostType {
    text-align: end;
    /*background: orange;*/
    font-size: 1em;
    font-weight: bold;
    color: black;
    position: absolute;
    right: 1em;
    top: 0.2em;
}

.D_CostType {
    text-align: start;
    /*background: orange;*/
    font-size: 0.9em;
    font-weight: bold;
    color: black;
}

/* Агент */

.M_Agent {
    text-align: end;
    /*background: orange;*/
    font-size: 0.8em;
    line-height: 110%;
    font-weight: bold;
    color: darkgray;
    position: absolute;
    right: 1em;
    top: 2.2em;

    height: 2em;
    display: table;
}

.M_Agent_Child {
    display: table-cell;
    vertical-align: middle;
}

.M_AgentTo {
    font-weight: normal;
}

.D_Agent {
    text-align: start;
    /*background: orange;*/
    font-size: 0.9em;
    line-height: 130%;
    font-weight: bold;
    color: #737373;
}

.D_AgentTo {
    font-weight: normal;
}

/* Прочее операции */

.M_BLine {
    text-align: end;
    /*background: orange;*/
    font-size: 0.9em;
    font-weight: bold;
    color: darkgray;
    position: absolute;
    left: 0em;
    top: 4.6em;
    width: 100%;
}

.M_OperBody {
    position: relative;
    height: 5.2em;
}

/* --------- */

.EnBtn {
    color: gold !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #519df8 !important;
}

.btn-outline-primary:hover {
    color: darkslateblue;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: white !important;
}