body {
    max-width: 75em !important;
    margin:0 auto !important;
}

.ItemBtnIcon {
    font-size: 1.8em;
    color: #519df8;
}

.wideBtn {
    width: 4em;
}

.whiteOutline {
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

select {
    font-size: 1.0em;
    padding: 0.3em !important;
}

label {
    color: #1f58cc;
}

input, select, textarea {
    border-width: 0.1em;
    border-color: #246bf4;
    border-radius: 0.3em;
}

#id_moment {
    font-size: 1.0em;
    padding: 0.15em !important;
}

#id_notes {
    width: 100%;
}

#id_amount {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 9em;
    color: #8a2128;
}

.SumIncome {
    color: #116223 !important;
}

#amountClearBtn {
    margin-left: 0.5em;
    padding: 0.2em;
    width: 2em;
    height: 2em;
    border-width: 0;
    border-radius: 0.3em;
    border-color: #246bf4;
    background-color: #246bf4;
    color: white;
}

.carousel.pointer-event {
  touch-action: pan-y pinch-zoom;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #519df8 !important;
}

.btn-outline-primary:hover {
    color: darkslateblue;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: white !important;
}

.errorlist {
    margin: 0 0 0.4em 0;
    color: red;
}

.ErrField {
    background-color: red !important;
}


/*table, td, th {*/
/*    border: 0 !important;*/
/*}*/