body {
    max-width: 75em !important;
    margin:0 auto !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #519df8 !important;
}

.btn-outline-primary:hover {
    color: darkslateblue;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: white !important;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.ItemBtnIcon {
    font-size: 1.8em;
    color: #519df8;
}

.wideBtn {
    width: 4em;
}

table {
    font-size: 0.9em;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    caption-side: top;
    text-align: center;
    font-size: 1.5em;
    color: #0b4cab;
}

th {
    background-color: #246bf4 !important;
    color: white;
    /*text-align: center;*/
}

.nc {
    text-align: center;
}

.ar {
    text-align: end;
}

.al {
    text-align: start;
}

hl {
    font-weight: bold;
    color: red;
}

ext {
    color: #6ba1e8;
    font-style: italic;
}

.agarw {
    color: #737373;
}